video {
    width: 100%;
    height: 100%;
    max-height: 60vh;
}


.videoBg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/sectionFiveBg.png");
}

// .video-wrap{
//     width: 80%;
//     min-height: 500px;
//     background-color: #CDAE8B;
//     border: 12px solid #CDAE8B;
//     @include horizontal-center;
// }

.tabs-container {
    max-width: 1200px;
    @include horizontal-center;
    margin-bottom: 40px;
    padding: 0 40px;
}

.tabs-pages {
    width: 100%;
    display: flex;
    flex-direction: row;
    // border-top: 2px solid $white;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.tabs-pages:focus,
.tabs-pages:hover {
    cursor: pointer;

}

.tab {
    width: 50%;
    text-align: center;
    padding: 0.5em 1.2em;
    color: $black;
    background-color: lighten($brown,10%);
    font-size: 20px;
    border-bottom: 2px solid $white;
    border-left: 1px solid $white;
    border-right: 1px solid $white;
    transition: all .5s ease;
    
}

.tab:hover {
    background-color: darken($brown,10%);
}

.tab.active {
    background-color: $brown;
    border-top: $black 3px solid;
    font-weight:600;
    font-size: 22px;
}

.tabs-contents {
    display: block;
    width: 100%;
    min-height: 700px;
    // height: auto;
    position: relative;

}

.tab-c {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: auto;
    transition: opacity 1s;
    display: none;
}

.tab-c.active {
    opacity: 1;
    display: block;
}

.inner-content {
    position: relative;
    background-color: $brown;
    border: 12px solid $brown;
}